body {
	padding-bottom: 20px;
}

body.has-bottom-bar {
	padding-bottom: 80px;
}

body > .navbar-toolbar {
	margin-top: -20px;
}

@media(min-width: 768px) {
	/*
	 * Our navbar-toolbar imitates navbar-default on desktop. Modified for
	 * reduced redundancy in the generated CSS, and to support our markup for
	 * brand dropdowns.
	 */
	.navbar-toolbar {
		background-color: #f8f8f8;
		border-color: #e7e7e7;
	}
	
	.navbar-toolbar .navbar-brand,
	.navbar-toolbar .navbar-brand-link,
	.navbar-toolbar .navbar-text,
	.navbar-toolbar .navbar-nav > li > a {
		color: #777;
		text-decoration: none; /* Added */
	}
	
	.navbar-toolbar .navbar-brand:hover,
	.navbar-toolbar .navbar-brand:focus,
	.navbar-toolbar .navbar-brand-link:hover,
	.navbar-toolbar .navbar-brand-link:focus, {
		color: #5e5e5e;
		background-color: transparent;
	}
	
	.navbar-toolbar .navbar-nav > li > a:hover,
	.navbar-toolbar .navbar-nav > li > a:focus {
		color: #333;
		background-color: transparent;
	}
	
	.navbar-toolbar .navbar-nav > .active > a,
	.navbar-toolbar .navbar-nav > .active > a:hover,
	.navbar-toolbar .navbar-nav > .active > a:focus {
		color: #555;
		background-color: #e7e7e7;
	}
	
	.navbar-toolbar .navbar-nav > .disabled > a,
	.navbar-toolbar .navbar-nav > .disabled > a:hover,
	.navbar-toolbar .navbar-nav > .disabled > a:focus {
		color: #ccc;
		background-color: transparent;
	}
	
	.navbar-toolbar .navbar-toggle {
		border-color: #ddd;
	}
	.navbar-toolbar .navbar-toggle:hover,
	.navbar-toolbar .navbar-toggle:focus {
		background-color: #ddd;
	}
	.navbar-toolbar .navbar-toggle .icon-bar {
		background-color: #888;
	}
	.navbar-toolbar .navbar-collapse,
	.navbar-toolbar .navbar-form {
		border-color: #e7e7e7;
	}
	.navbar-toolbar .navbar-nav > .open > a,
	.navbar-toolbar .navbar-nav > .open > a:hover,
	.navbar-toolbar .navbar-nav > .open > a:focus {
		color: #555;
		background-color: #e7e7e7;
	}
	.navbar-toolbar .navbar-link,
	.navbar-toolbar .btn-link {
		color: #777;
	}
	.navbar-toolbar .navbar-link:hover,
	.navbar-toolbar .btn-link:hover,
	.navbar-toolbar .btn-link:focus {
		color: #333;
	}
	.navbar-toolbar .btn-link[disabled]:hover,
	fieldset[disabled] .navbar-toolbar .btn-link:hover,
	.navbar-toolbar .btn-link[disabled]:focus,
	fieldset[disabled] .navbar-toolbar .btn-link:focus {
		color: #ccc;
	}
}
@media(max-width: 767px) {
	/* Imitate a H1 for the toolbar brand on mobile */
	.navbar-toolbar .navbar-brand {
		font-size: 36px;
		font-weight: 500;
		line-height: 1.1;
		height: auto;
	}
	
	.navbar-toolbar a.navbar-brand, .navbar-toolbar .navbar-brand-link {
		color: #333;
		text-decoration: none;
	}
	
	.navbar-toolbar .navbar-toggle {
		padding: 15px 10px;
	}
	
	table.collapse-to-list, table.collapse-to-list tbody, table.collapse-to-list tr, table.collapse-to-list td {
		display: block;
	}
	
	table.collapse-to-list thead {
		display: none;
	}
}

.disabled a {
	pointer-events: none;
}

.form-group .form-control {
	margin-bottom: 10px;
}
.form-group .form-control:last-child, .navbar .form-control {
	margin-bottom: 0;
}

.table .table {
	background: none;
	margin-bottom: 0;
}
.table .table td {
	border: none;
}

.table p:last-child {
	margin-bottom: 0;
}

.list-group-item-heading {
	margin-bottom: 10px;
}

.checkbox label {
	display: block;
}

/* Give data-href-ed elements the cursor of a "real" link */
[data-href], [data-action], [data-bulk-action] {
	cursor: pointer;
}

.msg-header {
	word-wrap: break-word;
}
.msg-body {
	max-width: 100%;
	overflow: scroll;
}

.nowrap {
	white-space: nowrap;
	text-overflow: ellipsis;
}
.wrap {
	word-break: break-all;
	overflow: hidden;
}

.not-rounded,
.not-rounded.list-group .list-group-item {
	border-radius: 0;
}

/*
 * This is a hack to prevent long table cells from breaking the layout. Note
 * that the column it's applied to needs a width set, for instance to 100%.
 * 
 *     <td class="overflowhack"><div><p>...content...</p></div></td>
 */
.overflowhack {
	vertical-align: top;
}

.overflowhack > div {
	position: relative;
	margin-bottom: 20px;
}

.overflowhack > div > p {
	position: absolute;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

td.pad-child-instead {
	padding: 0 !important;
}
td.pad-child-instead > * {
	display: block;
	padding: 8px;
}

td label {
	margin-bottom: 0;
}

td a {
	color: #333;
	text-decoration: none;
}

dd, .panel-title {
	overflow: hidden;
	text-overflow: ellipsis;
}

dl:last-child {
	margin-bottom: 0;
}

@media(max-width: 767px) {
	dd {
		margin-bottom: 10px;
	}
}

pre.panel-body {
	border: none;
	margin: 0;
}

.preview-headers-container {
	background-color: #fafafa;
	color: #888;
}

.preview-headers span, .preview-headers ins, .preview-headers del {
	display: block;
	font-family: monospace;
	white-space: normal;
}

.preview-headers ins {
	text-decoration: none;
	color: green;
	background-color: #ddffdd;
}

.preview-headers del {
	text-decoration: none;
	color: red;
	background-color: #ffdddd;
}

.preview-headers-legend {
	margin-top: 1px;
}

.preview-headers-legend div {
	float: left;
	width: 8px;
	height: 8px;
	margin-top: 3px;
	margin-right: 3px;
}

.preview-headers-legend p {
	float: left;
	font-size: 10px;
	margin-right: 10px;
	font-family: monospace;
}
