body {
	padding-bottom: 20px;
}

body.has-bottom-bar {
	padding-bottom: 80px;
}

body > .navbar-toolbar {
	margin-top: -20px;
}

@media(min-width: 768px) {
	/* Imitate navbar-default on desktop */
	.navbar-toolbar {
		background-color: #F8F8F8;
		border-color: #E7E7E7;
	}
	
	.navbar-toolbar .navbar-collapse, .navbar-toolbar .navbar-form {
		border-color: #E7E7E7;
	}
	
	.navbar-toolbar a.navbar-brand, .navbar-toolbar .navbar-brand-link {
		color: #777;
		text-decoration: none;
	}
}
@media(max-width: 767px) {
	/* Imitate a H1 for the toolbar brand on mobile */
	.navbar-toolbar .navbar-brand {
		font-size: 36px;
		font-weight: 500;
		line-height: 1.1;
		height: auto;
	}
	
	.navbar-toolbar a.navbar-brand, .navbar-toolbar .navbar-brand-link {
		color: #333;
		text-decoration: none;
	}
	
	.navbar-toolbar .navbar-toggle {
		padding: 15px 10px;
	}
	
	table.collapse-to-list, table.collapse-to-list tbody, table.collapse-to-list tr, table.collapse-to-list td {
		display: block;
	}
	
	table.collapse-to-list thead {
		display: none;
	}
	
	.collapse-to-timestamp {
		float: right;
		font-size: 85%;
		max-width: 20%;
	}
	
	.collapse-to-title {
		float: left;
		font-weight: bold;
		max-width: 80%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

/* Give data-href-ed elements the cursor of a "real" link */
[data-href] {
	cursor: pointer;
}

/*.navbar-toolbar .navbar-collapse {
	border-color: #E7E7E7;
}*/

/*.navbar-enduser .navbar-brand, .navbar-enduser .navbar-toggle {
	color: #ccc;
}

.navbar-enduser {
	border-radius: 0;
	background-color: #444;
	background: linear-gradient(#444, #000);
	background: -moz-linear-gradient(#444, #000);
	background: -webkit-linear-gradient(#444, #000);
	background: -o-linear-gradient(#444, #000);
	background: -ms-linear-gradient(#444, #000);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#000000')";
	padding: 0;
	min-height: 35px !important;
}

.navbar-enduser .navbar-nav > li {
	padding-top: 6px;
}

.navbar-enduser .navbar-nav > li > a {
	background-repeat: no-repeat;
	background-position: 7px 6px;
	margin-top: 5px;
	padding-top: 4px;
	padding-left: 30px;
	padding-right: 8px;
	padding-bottom: 0;
	color: #ccc;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.navbar-enduser .navbar-nav > li.active > a, .navbar-enduser .navbar-nav > li > a:hover {
	background-color: #eee;
	color: #f60;
	font-weight: bold;
}

.navbar-enduser a {
	color: #ccc;
	text-decoration: none;
}

.navbar-enduser .icon-bar {
	background-color: #ccc;
}

.navbar-enduser li.mail a {
	background-image: url(../img/mail-16-white.png);
}

.navbar-enduser li.mail.active a, .navbar-enduser li.mail a:hover {
	background-image: url(../img/mail-16-black.png);
}

.navbar-enduser li.bwlist a {
	background-image: url(../img/clipboard-16-white.png);
}

.navbar-enduser li.bwlist.active a, .navbar-enduser li.bwlist a:hover {
	background-image: url(../img/clipboard-16-black.png);
}

.navbar-enduser li.user a {
	background-image: url(../img/user-16-white.png);
}

.navbar-enduser li.user.active a, .navbar-enduser li.user a:hover {
	background-image: url(../img/user-16-black.png);
}

.navbar-enduser li.logout a {
	background-image: url(../img/signout-16-white.png);
}

.navbar-enduser li.logout.active a, .navbar-enduser li.logout a:hover {
	background-image: url(../img/signout-16-black.png);
}

#header {
	overflow: hidden;
	width: 100%;
	background: #eee;
	background: linear-gradient(#eee, #ccc);
	background: -moz-linear-gradient(#eee, #ccc);
	background: -webkit-linear-gradient(#eee, #ccc);
	background: -o-linear-gradient(#eee, #ccc);
	background: -ms-linear-gradient(#eee, #ccc);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc')";
	border-bottom: 1px solid #aaa;
	height: 90px;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
}

#header h1 {
	font-weight: normal;
	float: left;
	font-family: ostrich-rounded;
	font-size: 45px;
	color: #08d;
	margin: 0;
	padding: 20px;
	cursor: default;
}

#header .item {
	position: relative;
	margin-top: 20px;
	margin-left: 20px;
	float: left;
	text-align: center;
	position: relative;
}

#header .item .divider {
	height: 50px;
	width: 1px;
	background-color: black;
	opacity: 0.2;
	border-right: 1px solid white;
}

#header .item select {
	clear: right;
}

#header .item label {
	position: absolute;
	top: 35px;
	clear: both;
	display: inline;
	text-align: center;
	left: 0;
	right: 0;
	width: auto;
	font-family: sans-serif;
	font-size: 12px;
	text-shadow: 0 1px 1px white;
}

#header .item div.button, #header .item button {
	width: 60px;
	height: 60px;
	float: left;
	background-repeat: no-repeat;
	color: black;
	padding-top: 30px;
	border: 0;
	cursor: default;
	text-shadow: 0 1px 1px white;
	font-family: sans-serif;
	background-color: transparent;
	font-size: 12px;
	background-position: center top;
}

#header .item div.button {
	padding-top: 36px;
}

#header button::-moz-focus-inner {
	border: 0;
}

#header button:focus {
	outline: none;
}

#header .search {
	background-image: url(../img/magnifying-22-blue.png);
}

#header .start {
	background-image: url(../img/start-22-blue.png);
}

#header .back {
	background-image: url(../img/back-22-blue.png);
}

#header .down {
	background-image: url(../img/down-22-blue.png);
}

#header img#logo {
	margin: 20px;
	float: right;
}*/

table.list {
	border-collapse: collapse;
	width: 100%;
}

table.list td {
	margin: 0px;
	padding: 4px;
	padding-right: 15px;
}

table.list th {
	text-align: left;
	margin: 0px;
	padding: 4px;
	padding-right: 15px;
}

table.list tbody tr {
	border-top: 1px solid #ddd;
}

table.list tbody tr:nth-child(odd) {
	background-color: #eee;
}

table.list tbody tr:nth-child(even) {
	background-color: #f9f9f9;
}

table.pad td:first-child, table.pad th:first-child {
	padding-left: 17px;
}

table.pad td:last-child, table.pad th:last-child {
	padding-right: 17px;
}

table.pad {
	margin-top: 17px;
}

table.fixed {
	table-layout: fixed;
}

table.fixed td, table.fixed th {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

table.list .action {
	width: 20px;
	text-align: center;
	padding: 0; margin: 0;
	vertical-align: middle;
}

table.list tbody tr:hover td {
	background-color: #ddd;
}

table.list td.icon, table.list th.icon {
	width: 20px;
	padding-left: 0;
	padding-right: 0;
}

table.list tr td.green, td.action.DELIVER {
	color: #151;
	background-color: #cd0;
	background: linear-gradient(#4b2, #cd0);
	background: -moz-linear-gradient(#4b2, #cd0);
	background: -webkit-linear-gradient(#4b2, #cd0);
	background: -o-linear-gradient(#4b2, #cd0);
	background: -ms-linear-gradient(#4b2, #cd0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#44bb22', endColorstr='#ccdd00')";
}

table.list tr td.blue, td.action.queue.DELIVER, td.action.QUEUE {
	color: #035;
	background-color: #3bd;
	background: linear-gradient(#08d, #3bd);
	background: -moz-linear-gradient(#08d, #3bd);
	background: -webkit-linear-gradient(#08d, #3bd);
	background: -o-linear-gradient(#08d, #3bd);
	background: -ms-linear-gradient(#08d, #3bd);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088dd', endColorstr='#33bbdd')";
}

table.list tr td.red, td.action.REJECT {
	color: #522;
	background-color: #f44;
	background: linear-gradient(#944, #f44);
	background: -moz-linear-gradient(#944, #f44);
	background: -webkit-linear-gradient(#944, #f44);
	background: -o-linear-gradient(#944, #f44);
	background: -ms-linear-gradient(#944, #f44);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#994444', endColorstr='#ff4444')";
}

table.list tr td.orange, td.action.QUARANTINE {
	color: #720;
	background-color: #fa0;
	background: -webkit-linear-gradient(#f50, #fa0);
	background: linear-gradient(#f50, #fa0);
	background: -moz-linear-gradient(#f50, #fa0);
	background: -o-linear-gradient(#f50, #fa0);
	background: -ms-linear-gradient(#f50, #fa0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5500', endColorstr='#ffaa00')";
}

table.list tr td.black, td.action.BOUNCE, td.action.DELETE, td.action.ERROR {
	color: #aaa;
	background-color: #666;
	background: -webkit-linear-gradient(#000, #666);
	background: linear-gradient(#000, #666);
	background: -moz-linear-gradient(#000, #666);
	background: -o-linear-gradient(#000, #666);
	background: -ms-linear-gradient(#000, #666);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#666666')";
}

table.list tr td.pink, td.action.DEFER {
	color: #ebe;
	background-color: #949;
	background: -webkit-linear-gradient(#949, #f7f);
	background: linear-gradient(#949, #f7f);
	background: -moz-linear-gradient(#949, #f7f);
	background: -o-linear-gradient(#949, #f7f);
	background: -ms-linear-gradient(#949, #f7f);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#994499', endColorstr='#ff77ff')";
}

button.icon, a.icon, div.icon {
	clear: none;
	display: block;
	float: left;
	width: 16px;
	height: 16px;
	margin-left: 1px;
	margin-right: 1px;
	background-repeat: no-repeat;
	background-color: transparent;
	border: 0;
	opacity: 0.3;
	transition: opacity .25s linear 0s;
	-webkit-transition: opacity .25s linear 0s;
	-moz-transition: opacity .25s linear 0s;
	cursor: pointer;
}

button.icon:hover, a.icon:hover, div.icon:hover {
	opacity: 1;
}

.icon.mail {
	background-image: url(../img/mail-16-black.png);
}

.icon.close {
	background-image: url(../img/cross-16-black.png);
}

.icon.go {
	background-image: url(../img/play-16-black.png);
}

.semitrans {
	color: #959595;
}

.dropdownmenu {
	box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
}

.dropdownmenu .dropdown {
	color: #08d;
	padding: 5px;
	background-color: #fff;
	cursor: pointer;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

.dropdownmenu .dropdown:last-child {
	border-bottom: 1px solid #ddd;
}

.dropdownmenu .dropdown:hover {
	background-color: #def;
}

.dropdownmenu .noclick:hover, .dropdownmenu .noclick {
	background-color: #fff;
	color: #999;
	cursor: default;
}

.dropdownmenu .divider {
	height: 2px;
	background-color: #ddd;
}

pre.indent {
	white-space: normal;
	text-indent: -40px;
	padding-left: 40px;
	margin: 0;
}

.message {
	clear: both;
	padding: 10px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid #aaa;
	box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
	background: #eee;
	background: linear-gradient(#ddd, #eee);
	background: -moz-linear-gradient(#ddd, #eee);
	background: -webkit-linear-gradient(#ddd, #eee);
	background: -o-linear-gradient(#ddd, #eee);
	background: -ms-linear-gradient(#ddd, #eee);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#eeeeee')";
	margin-bottom: 20px;
}

.message.pad {
	margin: 20px;
}

.message.error {
	background: #ebb;
	background: linear-gradient(#ebb, #edd);
	background: -moz-linear-gradient(#ebb, #edd);
	background: -webkit-linear-gradient(#ebb, #edd);
	background: -o-linear-gradient(#ebb, #edd);
	background: -ms-linear-gradient(#ebb, #edd);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#eebbbb', endColorstr='#eedddd')";
}

.message.ok {
	background: #9c0;
	background: linear-gradient(#9c0, #ce8);
	background: -moz-linear-gradient(#9c0, #ce8);
	background: -webkit-linear-gradient(#9c0, #ce8);
	background: -o-linear-gradient(#9c0, #ce8);
	background: -ms-linear-gradient(#9c0, #ce8);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#99cc00', endColorstr='#ccee88')";
}

.halfpage {
	clear: left;
	padding-bottom: 20px;
	width: 50%;
	float: left;
}

.halfpage:nth-child(even) {
	clear: none;
	position: relative;
	left: 20px;
}

.halfpage table.pad {
	margin-top: 0;
}

.halfpages {
	padding: 20px;
	padding-right: 40px;
}

.fullpage {
	padding: 20px;
	padding-right: 20px;
}

.hr {
	margin-top: 10px;
	margin-bottom: 10px;
	border-top: 1px solid #bbb;
}

.preview-header {
	font-weight: bold;
	padding-right: 5px;
	color: #999999;
	width: 120px;
	text-align: right;
	float: left;
	white-space: nowrap;
}

.preview-headers {
	clear: both;
	border: 1px solid #ccc;
	background-color: #fafafa;
	color: #999;
}

.preview-headers span, .preview-headers ins, .preview-headers del {
	display: block;
	font-family: monospace;
	white-space: normal;
	text-indent: -40px;
	padding-left: 42px;
	padding-top: 1px;
}

.preview-headers ins {
	text-decoration: none;
	color: green;
	background-color: #ddffdd;
}

.preview-headers del {
	text-decoration: none;
	color: red;
	background-color: #ffdddd;
}

.preview-attachments {
	clear: both;
	margin-bottom: 3px;
}

.preview-attachment {
	float: left;
	margin-right: 3px;
	margin-bottom: 3px;
	padding: 3px;
	padding-left: 25px;
	border: 1px solid #ccc;
	background-color: #eee;
	background-repeat: no-repeat;
	background-position: 2px 2px;
	background-image: url(../img/clipboard-16-black.png);
}

a {
	color: #08d;
}

a:hover {
	color: #2af;
}

fieldset {
	border: 1px solid #ddd;
	background-color: #f6f6f6;
}

fieldset legend {
	font-weight: bold;
}

fieldset div {
	clear: both;
}

fieldset label {
	float: left;
	display: block;
	width: 40%;
	text-align: right;
	margin-right: 10px;
	margin-top: 3px;
	margin-bottom: 7px;
}

fieldset input, fieldset textarea {
	float: left;
	display: block;
	width: 45%;
	margin-bottom: 7px;
}

fieldset input[type="checkbox"] {
	width: auto;
}

/*body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 13px;
}

html {
	height: 100%;
}*/

@font-face{
	font-family: ostrich-rounded;
	src: url('../fonts/ostrich-rounded-webfont.eot');
	src: url('../fonts/ostrich-rounded-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/ostrich-rounded-webfont.woff') format('woff'),
		 url('../fonts/ostrich-rounded-webfont.ttf') format('truetype'),
		 url('../fonts/ostrich-rounded-webfont.svg#ostrich-rounded') format('svg');
}
