body {
	padding-bottom: 20px;
}

body.has-bottom-bar {
	padding-bottom: 80px;
}

body > .navbar-toolbar {
	margin-top: -20px;
}

.disabled a {
	pointer-events: none;
}

.table .table {
	background: none;
	margin-bottom: 0;
}
.table .table td, .table .table .td {
	border: none;
}

.table p:last-child {
	margin-bottom: 0;
}

.tr { display: table-row; }
.td { display: table-cell; }

.list-group-item-heading {
	margin-bottom: 10px;
}

.checkbox label {
	display: block;
}

/* Give data-href-ed elements the cursor of a "real" link */
[data-action], [data-bulk-action] {
	cursor: pointer;
}
td[data-href], tr[data-href] td {
	padding: 0 !important;
}
.data-link {
	display: block;
	padding: 8px;
	color: #333;
}
.data-link:hover {
	text-decoration: none;
}

.msg-header {
	word-wrap: break-word;
}
.msg-body {
	max-width: 100%;
	overflow: auto;
	background-color: #fff;
}

.nowrap {
	white-space: nowrap;
	text-overflow: ellipsis;
}
.wrap {
	word-break: break-all;
	overflow: hidden;
}

.not-rounded,
.not-rounded.list-group .list-group-item {
	border-radius: 0;
}

dd, .panel-title {
	overflow: hidden;
	text-overflow: ellipsis;
}

dl:last-child {
	margin-bottom: 0;
}

@media(max-width: 767px) {
	dd {
		margin-bottom: 10px;
	}
}

pre.panel-body {
	border: none;
	margin: 0;
}

.preview-headers-container {
	color: #777;
	padding: 0;
}

.preview-headers {
	padding: 15px 0;
}

.preview-headers span, .preview-headers ins, .preview-headers del {
	display: block;
	font-family: monospace;
	white-space: normal;
	padding: 0 15px;
}

.preview-headers ins {
	text-decoration: none;
	color: #070;
	background-color: #ddffdd;
}

.preview-headers del {
	text-decoration: none;
	color: #c00;
	background-color: #ffdddd;
}

.preview-headers-legend {
	margin-top: 1px;
}

.preview-headers-legend div {
	float: left;
	width: 8px;
	height: 8px;
	margin-top: 3px;
	margin-right: 3px;
}

.preview-headers-legend p {
	float: left;
	font-size: 10px;
	margin-right: 10px;
	font-family: monospace;
}
